<section class="breadcrumb">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-12">
                        Careers
                    </div>
                </div>
            </div>  
        </section>

      <section class="content-section careers-section padtop_padbot">
        <div class="container">
          <div class="row clearfix">
            <div class="col-md-12 headpad">
              <p>
                “We try to get people into our teams who know something that we don’t , that way we fill all the gaps at boostmychild”
                </p>
                <h5>- Vipul Joshi Founder & CEO, boostmychild</h5>
              
              <br>
              <p>
                “Our small team is growing fast. We’d like your contribution in helping us grow. We are looking for thinkers, ideators ; in short people who try and challenge status quo with the approach that they bring to work. If it sounds like you, come Join us!”
              </p>
              <br>
              <p class="text-left">
                <b>Our Culture, our employees can tell you better</b>.
              </p>
              <br>
              <p>
                The day I joined boostmychild I was taken out to lunch with the team, and the occasion for the impromptu celebration - well my inception into the team!
              My ideas are given the same consideration as the ideas coming from the leadership desks. Every idea is debated and consulted openly.
              </p>
              <h5>- Ayesha Sen- Marketing Executive</h5>
              
              <br>
              <p>
                When a problem arises in the boostmychild product , the whole team pitches in to help provide some solution to it. I am not left to my own devices for finding all the right solutions. This I think brings a fearlessness to the work that I do here.
              </p>
              <h5>- Amol Vhankalas- Software Architect</h5>
              
          <br>
          <h4>Current Openings</h4><br>
            <h5> MBA Internship</h5>
              <p>
                In our internship programme you are not restricted to working on anyone one aspect of the company. You understand the working of the business on the whole and are treated in the manner we treat our full time members of the team. You will get the opportunity to work on real products and projects.
              </p>
                    <h5> Software Engineer-Development</h5>
              <p>
    You will be involved in understanding , analyzing and translating project requirements into programming deliverables. You will work closely with analysts and designers to enhance the existing applications as well as build new ones. You will also be required to test and debug the product in a controlled, real environment. 
              </p>
              <p>
                We would like to hear from you. Please email us at <a href="mailto:info@boostmychild.com">info@boostmychild.com</a>
              </p>
            </div>
          </div>
        </div>
      </section>

