<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <ul class="navbar-nav mr-auto">
        <li>
            <div class="row">
                <div class="col-xs-12">
                    <img [src]="logoImg">
                </div>
            </div>
        </li>
        <li class="nav-item" style="margin-left: 500px">
            <a class="nav-link" href="#">Assessments</a>
        </li>
        <li>
            <button type="button" class="btn btn-primary">Sign in</button>
        </li>
        <li>
            <a href="tel:+91 7888100034"> <span style="margin-left:10px;margin-top: 10px;font-size: 14px" class="glyphicon glyphicon-phone"></span> +91 7888100034 / 35 / 36</a>
        </li>
    </ul>
</nav>
