        <section>
          <div class="assmt_banner">
              <div class="banner_text">
                <h3>Assessments</h3>
                <p>How is your child progressing? 
                What are the best activities for your child?</p>
                  <button type="button" ng-click="open_asmt_popup()" class="btn btn-success pull-right ">Free Primary Assessment</button>
              </div>
          </div>
        <div class="clearfix banner_mobile visible-xs ">


          <div class="">
              <h3 class="text-center">Assessments</h3>
              <p>How is your child progressing? 
              What are the best activities for your child?</p>
              <button type="button" ng-click="open_asmt_popup()" class="btn btn-success" style="margin:0 auto;display:block;">Start Assessment</button>
          </div>
            </div>


        </section>



        <section class="content-section" style="padding-bottom:30px;">
      <div class="row clearfix">
          <div class="container assesment_container">
            <div class="col-sm-12 text-center">
              <h3 style="font-weight:700;font-size:24px;">How assessments work?</h3>
              <div class="box_img">
                <img src="./../../assets/./../../assets/images/flow.png" class="img-responsive" alt="" />
              </div>
            </div>
         </div>

          </div>
        </section>

    	<section class="content-section padtop_padbot">
    		<div class="container assesment_container">


          <div class="row clearfix asmt_title">
            <div class="col-md-12 headpad">
               <h4>Why regular assessments are necessary?</h4>
               <ul style="padding-left:17px;">
                  <li>Assessments help to know how the child has reached in terms of their development and experiences.</li>
                  <li>They help determine how to build in activities to encourage/extend the onward growth.</li>
                  <li>In the event of a delay early intervention helps as prompt action /support can be taken and the problem prevented from being multiplied. </li>

               </ul>

            </div>
          </div>
          <div class="row clearfix ">
            <div class="col-md-12 headpad asmt_title">
              <h4>Development Areas </h4>
              <p>
                The areas of learning and development are all vital and are inter-connected.
                Especially in early years, it is important for a child to make the required progress in each
                of these to develop curiosity and enthusiasm towards learning and growth.
              </p>
            </div>
          </div>
          <hr>
          <div class="row clearfix asmt_title" id="physical">

             <div class="col-sm-4" >
              <div class="assessment_img " ><img src="./../../assets/images/Physical.jpg" alt="" /></div>

            </div>
            <div class="col-sm-8">
              <h4 style="margin-top:50px;">1. Physical  </h4>
              <p>
                Physical development is about keeping children active and to develop their co-ordination, control, and movement. Children are made
                 aware of various kinds of physical activity, about eating healthy and keeping themselves hydrated.
              </p>
            </div>

          </div>
          <hr>
            <div class="row clearfix asmt_title" >
              <div class="col-sm-12">
                <div class="col-sm-4">
                  <div class="assessment_img" ><img src="./../../assets/images/Communication.jpg" alt="" /></div>
                </div>
                <div class="col-sm-8">
                  <h4  style="margin-top:50px;">2. Communication, Language and Literacy  </h4>
                  <p>
                    Children need to be provided opportunities to experience a rich language environment; develop their
                    confidence and skills in expressing themselves; and to speak and listen in a range of situations. It
                     also involves encouraging children to link sounds and letters and to begin to read and write. Children
                      must be given access to a wide range of reading materials like books, poems, charts to ignite their interest.

                  </p>
                </div>
              </div>
            </div>
      <hr>
            <div class="row clearfix asmt_title" >
              <div class="col-sm-12">
                <div class="col-sm-4">
                    <div class="assessment_img"> <img src="./../../assets/images/Social.jpg" alt="" /></div>
                </div>
                <div class="col-sm-8">
                  <h4 style="margin-top:50px;">3. Social and Emotional </h4>
                  <p>
                    Involves helping children to develop a positive sense of themselves, and others; to form positive
                    relationships and develop respect for others; to develop social skills and learn how to manage their feelings; to understand appropriate behavior in groups; and to have confidence in their own abilities.

                  </p>
                </div>
              </div>
            </div>
        <hr>
            <div class="row clearfix asmt_title" >
              <div class="col-sm-12">
                <div class="col-sm-4">
                      <div class="assessment_img" > <img src="./../../assets/images/problem_solving.jpg" alt="" /></div>
                </div>
                <div class="col-sm-8">
                  <h4  style="margin-top:50px;">4. Problem Solving & Reasoning  </h4>
                  <p>
                    It involves providing children with opportunities to develop and improve their skills in counting,
                     understanding and using numbers, calculating simple addition and subtraction problems; and to describe shapes, spaces, and measures.

                  </p>
                </div>
              </div>
            </div>
        <hr>
            <div class="row clearfix asmt_title" >
              <div class="col-sm-12">
                <div class="col-sm-4">
                        <div class="assessment_img" > <img src="./../../assets/images/GK.jpg" alt="" /></div>
                </div>
                <div class="col-sm-8">
                  <h4  style="margin-top:50px;">5. General Knowledge & Exposure  </h4>
                  <p>
                    Involves guiding children to make sense of their physical world and their community through opportunities to explore, observe and
                    find out about people, places, technology and the environment.

                  </p>
                </div>
              </div>
            </div>
           <hr>
            <div class="row clearfix asmt_title" >
              <div class="col-sm-12">
                <div class="col-sm-4">
                    <div class="assessment_img" > <img src="./../../assets/images/Arts.jpg" alt="" /></div>
                </div>
                <div class="col-sm-8">
                  <h4 style="margin-top:50px;">6. Arts & Creativity  </h4>
                  <p>
                    Involves enabling children to explore and play with a wide range of creative material, as well as providing opportunities and encouragement
                    for sharing their thoughts, ideas and feelings through a variety of activities in art, music, movement, dance, role-play and technology.
                  </p>
                </div>
              </div>
            </div>
        <hr>




          <div class="row clearfix padtop_padbot asmt_title">
            <div class="col-sm-12 headpad">
              <h4 > Assessment Process:  </h4>
              <p>
                Boostmychild experts have created assessments for each of the above development areas. Each one contains a set of questions, which ask you about
                activities that your child may be doing in the area. You just need to answer ‘yes’, ‘sometimes’, or ‘not yet’ to each question. Your answers are
                scored, and we provide you with a cumulative score, together with other useful feedback, at the end of each assessment. You can take each assessment
                 as many times as you like with a 30 day gap between each assessment retake. This process accurately helps monitoring growth and progress for your
                 child on a month to month basis.

              </p>
            </div>
          </div>

          <div class="row clearfix padtop_padbot ">
            <div class="col-sm-12 headpad" >
              <div class="col-sm-6 question">
                  <img src="./../../assets/images/Questions.png" class="img-responsive" alt="" />
              </div>
              <div class="col-sm-6 result">
                <img src="./../../assets/images/Results.png" class="img-responsive" alt="" />
              </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-md-12 headpad text-center">
            <button type="button" ng-click="open_asmt_popup()" class="btn btn-success">Start Assessment</button>

          </div>
        </div>





    		</div>
    	</section>
